<div id="pwd">
  <h2>עריכת סיסמת החשבון</h2>
  <div dir="ltr" id="changeDetails">
  <label for=crntPwd>:סיסמא נוכחית</label>
  <input type="password" id="crntpwd" [(ngModel)]="crntPwd" />
  <label for=nwPwd>:סיסמא חדשה</label>
  <input type="password" id="nwpwd" [(ngModel)]="nwPwd" />
  <label for=nwPwd>:וידוא סיסמא חדשה</label>
  <input type="password" id="nw2pwd" [(ngModel)]="nw2Pwd" />
  <button *ngIf="!jobDone" (click)="updtIt()">שמור שינוי סיסמא</button>
</div>
  <a *ngIf="jobDone" routerLink="/AccountLogin">שינוי הסיסמא הצליח הקש כאן לכניסה מחודשת למערכת</a>
</div>