<div>
  <div class="about">
    <dl>
      <dt>שם המגיש:</dt>
      <dd>יואב ליברמן</dd>
      <dt>מס' ת.ז.:</dt>
      <dd>313355513</dd>
      <dt>שם הקורס:</dt>
      <dd>תכנות ווב - צד לקוח</dd>
      <dt>שם המרצה:</dt>
      <dd>ד"ר יצחק מילר</dd>
      <dt>שם המתרגל:</dt>
      <dd>מר עמיחי פיגנבוים</dd>
      <dt>שנה:</dt>
      <dd>תשפ"א - 2021</dd>
    </dl>
    <img [src]="'/assets/images/yoav.jpg'" class="yoav" />
  </div>
  <button dir="ltr" routerLink="/AccountLogin" (click)="emptyArray()">Click Me!</button>
</div>